:root{
    /*color*/
    --light-grey:#F5F5F5;
    --grey:#E0E0E0;
    --medium-grey:#9e9e9e;
    --dark-grey:#616161;
    --black:#212121;
    --cyan:#18ffff;

    /*font-size*/
    --header:40px;
    --title:22px;
    --sub-title:18px;
    --contents:16px;

    /*font-family: */
    --font-family-kr:"Noto Sans KR";
    --title-weight:700;
    --subtitle-weight:500;
    --contents-weight:300;
}

body{
    margin:0;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration:none;
    color:var(--dark-grey);
}

ul{
    list-style:none;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-grey);
    border-bottom: 1px solid var(--grey);
    padding: 0px 20px 0px 20px;
    
}

.navbar_logo{
    font-size: var(--title);
    font-weight: 700;
    color:var(--dark-grey);
}

.navbar_items{
    font-size: var(--sub-title);
    display: flex;
    padding:0;
}

.navbar_items li{
    padding: 10px 10px;
}

.navbar_items li a:hover {
    color:var(--cyan);
}
.navbar_hambergerBtn{
    display:none;
}
.container{
    margin: 50px 100px 70px 100px;
}
.container img{
    width:30%;
    margin-right: 20px;
}
section{
    display:flex;
    font-family:var(--font-family-kr);
}
section span{
    font-size:var(--sub-title);
    font-weight: var(--title-weight);
    align-items: center;
}




footer{
    background-color:var(--light-grey);
    padding: 30px 100px 30px 100px;
}
footer ul, span{
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
    font-size: var(--contents);
}
footer li{
    padding:10px;
    font-size:var(--sub-title);
    background-color:white;
    border-radius: 20px;
    margin-inline-end: 5px;
}
footer li:hover{
    background-color: white;
    border-radius: 20px;
    margin-inline-end: 5px;
    color:var(--cyan);

}
.copyright{
    margin-top:7px;
    font-size:12px;
}



@media screen and (max-width: 800px){
    .navbar{
        flex-direction:column;
        padding:20px;
        align-items:flex-start;
    }
    .navbar_items{
        display:none;
        flex-direction: column;
        align-items:center;
        width: 100%;
    }
    .navbar_hambergerBtn{
        display:block;
        position: absolute;
        right:20px;
        font-size: 20px;
    }

    .navbar_items.active{
        display: flex;
        margin-bottom:0;
    }

    .container{
        margin: 20px 50px;
    }
}
